.breadcrumb{
    margin-bottom: 1.2em;
    color: $gray;
    ul{
        display: flex;
        flex-wrap: wrap;
        line-height: 1.4;
        
        li{
            position: relative;
            &:not(:first-child){
                padding-left: 1rem;
            }
            &:not(:last-child){
                padding-right: 1rem;
                &::after{
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-bottom: 1px solid $gray;
                    border-right: 1px solid $gray;
                    transform: rotate(-45deg) translateY(-50%);
                    position: absolute;
                    right: -3.5px;
                    top: 50%
                }
            }
            &:last-child{
                font-weight: 500;
            }
        }
    }
}