.nav-header{
    background: $yellow;
    padding: .7em 1.4em;
    margin-bottom: 1.4rem;
    @include element('container'){
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        margin: auto;

        @include bp('md'){
            justify-content: center;
        }
    }

    @include element('search'){
        width: 70%;
        position: relative;
        height: fit-content;
        input{
            width: 100%;
            padding: 0.7rem;
            border: none;
            font-size: 18px;
            outline: none;
        }
        button{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            border: none;
            width: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $light-gray;
        }
        
        @include bp('md'){
            margin-left: 1rem + 2;
        }
    }
}